  <link rel="stylesheet" href="/app.css">
<h1>You love <%= nameVar%></h1>

<% if( nameVar.toLowerCase() ==="tim"){ %>
<p>You made a good choice!</p>
<% } else{ %>
<p>You made a bad choice!</p>
<% } %>

<h2>This is from love.ejs file</h2>
