<% include partials/header %>
<h1>Welcome to my camping website!</h1>
<a href="/campgrounds/new">Add a new Campground</a>
<h3>This is a Node.js Project.</h3>
<a href="/campgrounds"> View All Campgrounds</a>
<% include partials/footer %>
